/**
 * Headings
 */
%headings {
  font-family: $heading-font;
  font-weight: $heading-font-weight;
  font-style: normal;
  margin: 0 0 .5em 0;
}

%h1 {
  font-size: 3.6rem;
}

%h2 {
  font-size: 2rem;
}

%h3 {
  font-size: 1.6rem;
}

%h4 {
  font-size: 1.4rem;
}

%h5 {
  font-size: 1.2rem;
}

/**
 * Paragraphs and block elements
 */
%p {
  margin: 0 0 .5em 0;
}

/**
 * Text
 */
%text-overflow-ellipsis {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/**
 * Links
 */
%a-hover {
  color: $link-hover-color;
  text-decoration: $link-hover-decoration;
}

%a-focus {
  @extend %a-hover
}

%a {
  &,
  &:link {
    color: $link-color;
    text-decoration: $link-decoration;
  }

  &:hover {
    @extend %a-hover;
  }

  &:focus {
    @extend %a-focus;
  }
}