$text-color: black !default;
$text-font: 'IBM Plex Sans', sans !default;
$text-font-weight: 400 !default;
$body-color: #e4e1e0 !default;

$alt-text-color: #e4e1e0 !default;
$alt-body-color: #5a5a5a !default;
/**
 * Links
 */
$link-color: #f6b860 !default;
$link-decoration: none !default;
$link-hover-color: adjust-hue($link-color, -12deg) !default;
$link-hover-decoration: $link-decoration !default;

$alt-link-color: #f6b860 !default;
$alt-link-decoration: none !default;
$alt-link-hover-color: adjust-hue($alt-link-color, 12deg) !default;
$alt-link-hover-decoration: $alt-link-decoration !default;

/**
 * Headings
 */
$heading-font: $text-font  !default;
$heading-font-weight: 100;
