.region-header .navigation.menu--main {
  padding-bottom: 0;
}

.menu--hamburger {
  position: relative;
  height: 100%;

  input {
    display: none;
  }

  .menu {
    position: absolute;
    top: 100%;
    background-color: black;
    padding: .5rem;
    // transform: translate3d(0, 100%, 0);
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
    pointer-events: none;
    will-change: transform;
    transition: transform 218ms ease-out
              , opacity 218ms ease-in;
  }

  input:checked + .menu {
    opacity: 1;
    pointer-events: all;
    transform: translate3d(0, 0, 0);
  }

  .menu-item {
    margin-bottom: .5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}