@import "./_page-mixins";

body {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

#drupal-live-announce {
  top: 0;
  right: 0;
}

body,
.dialog-off-canvas-main-canvas {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: auto;
  max-height: 100%;
  width: auto;
}

.layout-container {
  position: relative;
  width: 100%;
  flex-grow: 1;

  display: flex;
  flex-direction: column-reverse;
  flex-direction: column;

  > header {
    z-index: 3;
  }

  > main {
    z-index: 2;
    flex-grow: 1;
    overflow: auto;
    display: flex;
  }
}

.region-header {
  font-size: 1.2rem;
  margin: 0;
  padding: 0 2vw;
  background-color: transparentize(black, 0.5);
  color: $alt-text-color;
  display: flex;
  align-items: stretch;

  .block {
    padding: .5rem 2vw .5rem 0;

    &:last-child {
      padding-right: 0;
    }
  }

  .block-page-title-block {
    flex-grow: 1;
  }

  .menu {
    &,
    &-item {
      font-size: 1rem;
      margin: 0;
      padding: 0;
    }
  }

  .block-page-title-block {
    overflow: hidden;
  }

  .site-name {
    white-space: nowrap;
  }
}

h1.page-title {
  text-align: center;
  font-size: inherit;
  font-weight: 600;
  max-width: 100%;
  margin: 0;
  @extend %text-overflow-ellipsis;
}

.layout-content {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.region-content {
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.entity-pager-list {
  margin: 0;
  display: flex;

  .entity-pager-item {
    font-size: 1.6rem;
    line-height: 1.2rem;
    min-width: 1.6rem;
    display: block;
    margin: 0;
    &:first-child {
      margin-right: .5rem;
    }
  }
}

body.node-1 {
  .block-system-main-block {
    flex-grow: 1;
    color: #f13481;
    background-color: #2affcc;
    height: 100%;
    font-size: 9vw;
    text-align: center;
    vertical-align: middle;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;

    p {
      align-self: center;
      margin: 0;
    }
  }
}

@keyframes page-transition-in {
  0% {
    opacity: 0;
    transform: translate3d(-50%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes page-transition-out {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(50%, 0, 0);
  }
}

body {
  main {
    animation-name: page-transition-in;
    animation-duration: 200ms;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }

  &.page-transition main {
    animation-name: page-transition-out;
  }
}

