@import "../sass/import";

.nodetype--experiment {
  .region-content {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .block-system-main-block,
  .node--view-mode-full {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
  }

  .node__content {
    position: relative;
    flex-grow: 1;

    .field {
      z-index: 5;
      position: relative;
      background-color: transparentize($body-color, 0.75);
      padding: .5rem;
      margin: .5rem;
    }
  }

  .node__meta {
    display: none;
  }

  .field {
    &.field--name-field-link,
    &.field--name-field-experiment-pictures {
      background: none;
      position: absolute;
      padding: 0;
      margin: 0;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    &.field--name-field-link {
      z-index: 4;

      iframe {
        border: none;
        width: 100%;
        height: 100%;
        position: absolute;
      }
    }

    &.field--name-field-experiment-pictures {
      z-index: 3;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &.field--name-field-experiment-style,
    &.field--name-field-experiment-script {
      display: none;
    }
  }
}

